body{
    font-family: 'Inter', sans-serif;
    color: #1f1f1f;
    font-size: 14px;
}

/* REESCRITA BOOTSTRAP */
.btn-primary,
.nav-pills .nav-link.active{
    background-color: #57B6EC;
}
.btn-primary{
    border: none;
}
.nav-pills a, #esqueci-senha a{
    color: #1C1C1C;
}

/* MENU ESQUERDO */
#menu-esquerdo .nav-pills .nav-link.active,
#menu-esquerdo .nav-pills .nav-link.active2{
    padding: 5px 15px;
}
#menu-esquerdo .nav-pills .nav-link.active2{
    background-color: #F2F2F2;
}

#menu-esquerdo .nav-pills .nav-link.active2::before,
#menu-esquerdo .nav-pills .nav-link.active::before {
    content: "\00a0 ";
    margin: 0 5px 0 -10px;
    background-color: #000;
    color: #000;
    border-radius: 20px;
}

#menu-esquerdo .titulo{
    font-size: 16px;
}
#esqueci-senha{
    margin: 0 0 2em 0;
    padding: 0;
}
#form-login-esquerdo input[type="email"]{
    width: 100%;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 5px;
    text-align: center;
    border: 1px solid #a3a3a3;
    outline: none;
}
#form-login-esquerdo input[type="password"]{
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 5px;
    text-align: center;
    border: 1px solid #a3a3a3;
    margin-top: -2px;
    outline: none;
}
#form-login-esquerdo .form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

/* CONTEUDO DIREITO */
#conteudo-direito table{
    width: 100%;
}
#conteudo-direito .numero-indicador{
    font-size: 40px;
    font-weight: bold;
    color: #57B6EC;
    margin-left: 10px;
}
#conteudo-direito .com-borda{
    border: 1px solid #333;
    padding: 2em;
    border-radius: 10px;
}
#conteudo-direito .row.contem-duas-colunas{
    gap: 2%;
}
#conteudo-direito .row.contem-duas-colunas .col-6 {
    width: 49%;
}

/* ICONES */
.texto-com-icone{
    display: flex;
    align-items: center;
}
.icone{
    display: inline-block;
    margin-right: 5px;
    background-repeat: no-repeat;
}
.icone.icone-dados-plataforma{
    width: 18px;
    height: 18px;
    background-image: url('../img/icons/data.svg');
}
.icone.icone-ajuda{
    width: 18px;
    height: 19px;
    background-image: url('../img/icons/help.svg');
}
.icone.icone-equipe{
    width: 21px;
    height: 18px;
    background-image: url('../img/icons/users.svg');
}
.icone.icone-termos{
    width: 18px;
    height: 19px;
    background-image: url('../img/icons/file.svg');
}
.icone.icone-politica{
    width: 18px;
    height: 19px;
    background-image: url('../img/icons/lock.svg');
}
.icone.icone-genero{
    width: 18px;
    height: 19px;
    background-image: url('../img/icons/genero.svg');
}
.icone.icone-racial{
    width: 18px;
    height: 19px;
    background-image: url('../img/icons/mao.svg');
}
.icone.icone-escolaridade{
    width: 18px;
    height: 19px;
    background-image: url('../img/icons/graduation.svg');
}
.icone.icone-faixa-etaria{
    width: 16px;
    height: 17px;
    background-size: contain;
    background-image: url('../img/icons/age.svg');
}
.icone.icone-intervalo{
    width: 18px;
    height: 19px;
    background-image: url('../img/icons/timer.svg');
}

/* FOOTER */
footer{
    background-color: #BDBDBD;
    color: #333;
    font-size: 16px;
    line-height: 30px;
}

footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

footer a{
    color: #333;
    text-decoration: none;
}

footer a:hover{
    color: #000;
    text-decoration: underline;
}

#footer-logos{
    gap: 20px;
}

#footer-logos img{
    width: 120px;
}